* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

body {
  min-height: 100rem;
}

header {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  padding: 0 5rem;
}

header .logo {
  font-size: 27px;
}

header .logo .red-dot {
  display: inline-block;
  background: red;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 5px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: 15px;
  letter-spacing: 0.37px;
  color: #3e3e3e;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}
