* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

body {
  padding-top: 5rem;
  min-height: 100rem;
}

header {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  padding: 0 5rem;
}

header .logo {
  font-size: 27px;
}

header .logo .red-dot {
  display: inline-block;
  background: red;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 5px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: 15px;
  letter-spacing: 0.37px;
  color: #3e3e3e;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}

section.hero img {
  width: 100%;
  height: auto;
}

section.hero {
  position: relative;
}

section .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content h1 {
  max-width: 50%;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 56px;
  font-weight: 400;
  font-size: 30px;
}

.hero-content p {
  max-width: 50%;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: 300;
  font-size: 20px;
  line-height: 26px;
}

.hero-content button {
  margin-top: 14px;
  height: 30px;
  width: 200px;
  max-width: 100%;
  letter-spacing: 0.5px;
  line-height: 24px;
  border-radius: 10px;
  background-color: #fe4542;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

section.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-sellers hr {
  width: 45px;
  border: none;
  border-top: 5px solid #fe4542;
}

.best-sellers h2 {
  padding-top: 80px;
  font-weight: normal;
}

.best-sellers .product-container {
  margin-top: 15px;
  display: flex;
}
