* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

body {
  padding-top: 5rem;
}

a {
  text-decoration: none;
}

header {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  padding: 0 5rem;
}

header .logo {
  font-size: 27px;
}

header .logo .red-dot {
  display: inline-block;
  background: red;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 5px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  font-size: 15px;
  letter-spacing: 0.37px;
  color: #3e3e3e;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #515cf8;
}

header nav ul li:last-of-type a {
  margin-right: 0;
}

section.hero img {
  width: 100%;
  height: auto;
}

section.hero {
  position: relative;
}

section .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content h1 {
  max-width: 50%;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 56px;
  font-weight: 400;
  font-size: 30px;
}

.hero-content p {
  max-width: 50%;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: 300;
  font-size: 20px;
  line-height: 26px;
}

.hero-content button {
  margin-top: 14px;
  height: 30px;
  width: 200px;
  max-width: 100%;
  letter-spacing: 0.5px;
  line-height: 24px;
  border-radius: 10px;
  background-color: #fe4542;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #fff;
  color: #fe4542;
}

section.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 72px;
}

.best-sellers hr {
  width: 45px;
  border: none;
  border-top: 5px solid #fe4542;
  padding-bottom: 50px;
}

.best-sellers h2 {
  padding-top: 80px;
  font-weight: normal;
}

section.best-sellers .product-container {
  margin-top: 15px;
}

.product-container .product-card {
  border-radius: 8px;
  border: 1px olid #ddd;
}

.product-container {
  width: 100%;
}

.product-container .row {
  display: flex;
  justify-content: space-around;
}

.product-card {
  text-align: center;
  width: 33%;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 0 8px;
  padding: 20px;
}

.product-info .categories {
  margin-top: 50px;
}

.product-info .categories,
.product-info .title {
  font-weight: normal;
}

.product-image img {
  max-width: 100%;
}

.product-card button {
  margin-top: 16px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  background-color: #039634cc;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #039634cc;
}

.product-card button:hover {
  color: #039634cc;
  background-color: #fff;
  border: 1px solid #039634cc;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card.new::before {
  content: "New";
  position: absolute;
  background-color: #ca3a37;
  left: 0;
  top: 0;
  margin: 10px;
  padding: 2px 12px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.product-card.discount::before {
  content: "HOT";
  position: absolute;
  background-color: #ca3a37;
  left: 0;
  top: 0;
  margin: 10px;
  padding: 2px 12px;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.product-info .price .discounted-price {
  font-weight: normal;
}

.product-info .price .original-price {
  font-weight: normal;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: bold;
  color: #b40c09;
}

section.newsletter {
  text-align: center;
  background-color: rgba(200, 200, 200, 0.18);
  max-width: 585px;
  margin: 80px auto;
  padding: 50px 0;
}

section.newsletter h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin-bottom: 10px;
}

section.newsletter p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin-bottom: 20px;
}

section.newsletter form {
  display: flex;
  justify-content: center;
  height: 40px;
}

section.newsletter input {
  width: 225px;
  max-width: 80%;
  border-radius: 125px 0 0 125px;
  padding-left: 10px;
  border: 1px solid #3e3e3e;
  border-right: 0;
  letter-spacing: 0.3px;
}

section.newsletter button {
  width: 125px;
  max-width: 20%;
  border-radius: 0 125px 125px 0;
  border: none;
  background-color: #6771ff;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3px;
}

section.newsletter button:hover {
  border: 1px solid #6771ff;
  background-color: #fff;
  color: #6771ff;
  cursor: pointer;
}

footer {
  color: #fff;
}

footer .bottom-nav {
  background-color: #353747;
  padding: 60px 0;
}

footer .copyright {
  background-color: #2a2c41;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}

footer .bottom-nav .container {
  display: flex;
  justify-content: space-between;
}

footer .bottom-nav li.list-title {
  cursor: default;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

footer .bottom-nav li {
  list-style: none;
}

footer .bottom-nav .container ul li a {
  color: #e0e0e0;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
  display: block;
}

footer .bottom-nav .container ul li a:hover {
  color: #fff;
}
